{% extends "shared/grid_base.html" %}
{% block title %}Music{% endblock %}
{% block main_content %}

<h1>Music</h1>
    <p>I'm a doublebassist in San Francisco, playing mostly small-combo jazz.</p>

<img style="margin-bottom:1cm;" src="{{ url_for('static', filename = 'img/music/Paul_Bass_Headshot.png') }}" alt="Paul Headshot", location="right">

<h2>Playing With</h2>

    <ul>
        <li> <a href="https://triocotier.com">Trio Cotier</a></li>
        <p>Piano trio led by Jay Dold (drums), with Ken Chou (piano)</p>
    </ul>

<h2>Audio</h2>

    <ul>
        <li> <a href="{{ url_for('static', filename = 'audio/Clear_Skies.mp3') }}" type="audio/mpeg">Clear Skies</a></li>
        <p>A pop song I wrote during the worst of the California fires, Summer 2020. Produced in Ableton Live, all virtual instruments.</p>
    </ul>
    <ul>
        <li> <a href="{{ url_for('static', filename = 'audio/Jones_LL_mix_2.mp3') }}" type="audio/mpeg">Have You Met Miss Jones?</a></li>
        <p>A pandemic remote collaboration with Eric Scheide (alto), and Dan Newsom (piano).</p>
    </ul>
    <ul>
        <li> <a href="{{ url_for('static', filename = 'audio/What_You_Forgot.mp3') }}" type="audio/mpeg">What You Forgot</a></li>
        <p>A piece I wrote about memories. Virtual instruments.</p>
    </ul>
    <ul>
        <li> <a href="{{ url_for('static', filename = 'audio/How_You_Know.mp3') }}" type="audio/mpeg">How You Know</a></li>
        <p>A piece I wrote. Virtual instruments.</p>
    </ul>


<h2>Video</h2>

     <ul>
    <li><a href="https://youtu.be/T44dqRAnUvY">Pacifica, July 3, 2020</a></li>
    <li><a href="https://youtu.be/HcFd5zfWenU">San Francisco, June 20, 2020</a></li>
    <li><a href="https://www.youtube.com/channel/UCsrpWtayWblQC-Jhhrh0BMQ">My YouTube channel for more videos.</a></li>
</ul>


{% endblock %}