{% extends "shared/grid_base.html" %}
{% block title %}Baseball{% endblock %}
{% block main_content %}

<h1>Baseball.</h1>
    <p>Some Giants-related scripts based on info scraped from Major League Baseball's
    stats website.</p>
<h2>Select an Action.</h2>

    <ul>
    <li><a href="/baseball/nl_rankings">NL Rankings, Selected Stats</a></li>
    <li><a href="/baseball/giants_linescore">Linescore, Giants' Last Game</a></li>
    <li><a href="/baseball/giants_next_game">Giants' Next Game</a></li>
    <li><a href="/baseball/current_standings">Current Standings</a></li>
</ul>

{% endblock %}


